//Flex        
@mixin flex {
    display: flex;
}
//Block
@mixin block {
    display: block;
}

//Center 
@mixin center {
    margin-left: auto;
    margin-right: auto;
}

//Grid Column Background Colors       
@mixin grid-bg-colors($grid-col-map) {
    @each $col-class, $bg-color in $grid-col-map{
      &.col-#{$col-class}{
        background-color: $bg-color;   
      }
    }
  }
