/* ============================================= */
/*              Colors                   */
/* ============================================= */
$font-color-primary: #777; /*gray*/
$white: #fff;
$theme-color-primary: #58e1c1;