/* ============================================= */
/*              Buttons                          */
/* ============================================= */
.btn {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: $br;
  transition: background-color 0.2s ease-in-out;
}

.default {
    background-color: $color-button-default;
    &:hover {
      background-color: lighten($color-button-default, $hover-lighten-percent);
    }
  }
  
.error {
    background-color: $color-button-error;
    &:hover {
      background-color: lighten($color-button-error, $hover-lighten-percent);
    }
  }
  
.info {
    background-color: $color-button-info;
    &:hover {
      background-color: lighten($color-button-info, $hover-lighten-percent);
    }
  }
  
.success {
    background-color: $color-button-success;
    &:hover {
      background-color: lighten($color-button-success, $hover-lighten-percent);
    }
  }
  
.warning {
    background-color: $color-button-warning;
    &:hover {
      background-color: lighten($color-button-warning, $hover-lighten-percent);
    }
  }
  