/* ============================================= */
/*              Buttons                          */
/* ============================================= */

%btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $color-sec;
    @extend %btn;
    &:hover {
      background-color: lighten($color-sec, $hover-lighten-percent);
    }
  }
  
  .error {
    background-color: #e4757a;
    @extend %btn;
    &:hover {
      background-color: lighten(#e4757a, $hover-lighten-percent);
    }
  }
  
  .info {
    background-color: #927bc1;
    @extend %btn;
    &:hover {
      background-color: lighten(#927bc1, $hover-lighten-percent);
    }
  }
  
  .success {
    background-color: #63cc82;
    @extend %btn;
    &:hover {
      background-color: lighten(#63cc82, $hover-lighten-percent);
    }
  }
  
  .warning {
    background-color: #fd7856;
    @extend %btn;
    &:hover {
      background-color: lighten(#fd7856, $hover-lighten-percent);
    }
  }
  