/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
    padding: 0 10px;
  }
  
  .row {
    @include flex;
    flex-direction: column;
    padding: 1em 10px;
  }
  
  [class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: $br;
  }

//Creates grid column classes and unique background colors
  .theme {
    @include grid-bg-colors($grid-column-colors);
}


  .card {
    flex-basis: 100%;
  }