/* ============================================= */
/*              Images                           */
/* ============================================= */
%img {
  @include block;
  @include center;
  margin-top: 10px;
  max-width: 100%;
}
.img-avatar {
  @extend %img;
  max-height: 100%;
}

.img-frame {
  @extend %img;
  padding: 13px;
  border: 1px solid $color-border-light;
}

.img-logo {
  @include block;
  @include center;
}