/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
@media (min-width: $breakpoint-md) {

  .container {
    max-width: 1400px;
    @include block;
    @include center;
  }
  
  .centered {
    @include block;
    @include center;
  }
  
  .row {
    flex-direction: row;
  }
  
  [class^=col] {
    @include flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;
  }
  
  [class^=col] + [class^=col] {
    margin-left: 10px;
  }
  
  // Loop to create classes for 12 columns and create flex basis
    @for $i from 1 through $grid-cols {
    .col-#{$i} {
      flex-basis: percent($i, $grid-cols);
    }
}

  .nav {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  
  .nav-link {
    flex-basis: 100px;
  }
  
  .btn {
    padding: 10px 30px;
  }
  
  .btn + .btn {
    margin-left: 10px;
  }
  
  .logo {
    margin-left: initial;
    margin-right: initial;
  }
  
  }